body{
    margin: 0;
    padding: 0;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
}
.calculator {
  width: 260px;
  margin: 40px auto;
}

.display-wrapper input {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.operator {
  background: #f0ad4e;
  color: white;
}

#equals {
  background: #5cb85c;
  color: white;
}

#clear {
  background: #d9534f;
  color: white;
}

.span-two {
  grid-column: span 2;
}

.zero {
  grid-column: span 1;
}